div.toDoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.newToDoCard {
  background-color: #ff5a66;
}

.progressToDoCard {
  background-color: #feab3a;
}

.completedToDoCard {
  background-color: #27b78d;
}

.createComment, .singleComment, .cardContent {
  margin: .5em 0;
}

.deleteIcon {
  width: 5%;
  height: auto;
}

.deleteButton {
  border: none; 
  background: none;
  display: flex;
  flex-direction: row-reverse;
  
}
