div.toDoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.newToCard {
  background-color: rgb(208, 79, 79);
}

.progressToCard {
  background-color: rgb(227, 115, 24);
}