div.toDoFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.newToDoCard {
  background-color: #ff5a66;
}

.progressToDoCard {
  background-color: #feab3a;
}

.completedToDoCard {
  background-color: #27b78d;
}

